<!-- <div id="loading" class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
</div> -->

<div [@fadeInUp] class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="header-dispositivos">
                <div style="display: grid; justify-content: center; align-items: center;">
                    <i class="fa fa-map-marker"></i>
                    <span class="titulo">Gestión de Rutas de Camino</span>
                </div>
                <div class="subtitulo">Administra, crea y organiza las rutas trazadas para los distintos caminos y dispositivos asignados.</div>
                <button class="button-18" role="button" (click)="agregarRuta()">Agregar Ruta</button>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="table-responsive mb-4 col-12 col-lg-12">
                        <dx-data-grid id="gridContainer" (onOptionChanged)="alCambiarOpcion($event)" [columnHidingEnabled]="true" [showBorders]="true"
                            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
                            [dataSource]="listaRutas" [keyExpr]="'id'" [width]="'100%'">
                            <dxo-search-panel [visible]="true" [width]="200" placeholder="Buscar..."></dxo-search-panel>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 50, 100, 200]"
                                [showInfo]="true"></dxo-pager>
                            <dxo-group-panel [emptyPanelText]="mensajeAgrupar" [visible]="true"></dxo-group-panel>
                            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
                            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxi-column caption="Acciones" cellTemplate="acciones" alignment="center"
                                [width]="150"></dxi-column>
                            <dxi-column dataField="nombre" caption="Nombre" alignment="center"
                                [width]="260"></dxi-column>
                            <dxi-column dataField="puntoInicioDireccion" caption="Punto Inicio" alignment="center"
                                [width]="400"></dxi-column>
                            <dxi-column dataField="puntoFinDireccion" caption="Punto Fin" alignment="center"
                                [width]="400"></dxi-column>
                            <dxi-column dataField="ciaKm" caption="Distancia de KM" [width]="150"
                                alignment="center"></dxi-column>
                            <dxi-column dataField="tarifaBase" caption="Tarifa Base" alignment="center"
                                [width]="150"></dxi-column>
                            <dxi-column dataField="costoAdicional" caption="Tarifa Costo Adicional" alignment="center"
                                [width]="150"></dxi-column>
                            <dxi-column dataField="distanciaBaseKm" caption="Tarifa Distancia Base" alignment="center"
                                [width]="150"></dxi-column>
                            <dxo-export [enabled]="false" [allowExportSelectedData]="true"
                                [texts]="{ exportAll: 'Exportar todos los datos a Excel', exportSelectedRows: 'Exportar filas seleccionadas a Excel' }">
                            </dxo-export>
                            <div *dxTemplate="let row of 'acciones'" class="d-flex gap-0 justify-content-center">
                                <div>
                                    <button type="button" (click)="verRuta(row.data.id)"
                                        class="btn btn-md btn-rounded waves-effect waves-light"
                                        style="background-color: #0a66c2; color: white;">
                                        <i class="fa fa-map-pin"></i> Ver Ruta
                                    </button>
                                </div>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" [message]="loadingMessage">
</dx-load-panel>